@import '../../../__common-css/reset';
@import '../../../__common-css/_premix';

html {
    background: #fafafa;
}


.content-wrap {
    width: 350px;
    padding-top: 50px;
    margin: 0 auto;
    .checkbox-wrap{
        label{
            position: relative;
            display: inline-block;
            padding-left: 20px;
            line-height: 15px;
            &:hover{
                &:before{
                    background: #f3f3f3;
                    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
                }
            }
            &:after{
                content: "";
                display: none;
                position: absolute;
                top: 3px;
                left: 3px;
                background: #333;
                width: 9px;
                height: 9px;
                border-radius: 2px;
                cursor: pointer;

            }
            &:before{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 13px;
                height: 13px;
                border: 1px solid #666;
                border-radius: 2px;
                background: #f7f7f7;
                cursor: pointer;
            }
        }
        input[type="checkbox"]{
            display: none;
            
            &:checked{
                &+label{

                    &:after{
                        display: block;
                    }
                    &:hover{
                        &:after{
                            background: #000;
                        }
                        &:before{
                            background: #f3f3f3;
                            box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
                        }
                    }
                }
            }
        }
    };
}
